# LaTeX debris
*.aux
*.bbl
*.log
*.spl
*.synctex.gz
*.blg
*.out
*eps-converted-to.pdf

elsarticle*

# ignore screenshot from other article (placeholder for now)
wire_segment_Hanson_Hirshman_2002_Fig_1.png

# editor leftovers
*.kate-swp

# Java objects
/target/

# demo outputs
/data/*

# sphinx output
/docs/build/*

**/*__pycache__
**/.ipynb_checkpoints/*

# local snapshots
article/schilling2022_abscab_main_commentsHT.pdf
article/2022_08_15_Schilling_ABSCAB_article.pdf
article/2022_08_24_Schilling_ABSCAB_article.pdf

# commented PDFs from co-authors
article/2022_08_15_Schilling_ABSCAB_commentsJG.pdf

submission_source/
ABSCAB_submission_source.zip
submission/
reviews/

bazel-*

### Automatically added by Hedron's Bazel Compile Commands Extractor: https://github.com/hedronvision/bazel-compile-commands-extractor
# Ignore the `external` link (that is added by `bazel-compile-commands-extractor`). The link differs between macOS/Linux and Windows, so it shouldn't be checked in. The pattern must not end with a trailing `/` because it's a symlink on macOS/Linux.
/external
# Ignore links to Bazel's output. The pattern needs the `*` because people can change the name of the directory into which your repository is cloned (changing the `bazel-<workspace_name>` symlink), and must not end with a trailing `/` because it's a symlink on macOS/Linux.
/bazel-*
# Ignore generated output. Although valuable (after all, the primary purpose of `bazel-compile-commands-extractor` is to produce `compile_commands.json`!), it should not be checked in.
/compile_commands.json
# Ignore the directory in which `clangd` stores its local index.
/.cache/

.vscode
