[submodule "abscab-java"]
	path = abscab-java
	url = git@github.com:jonathanschilling/abscab-java.git
[submodule "abscab-python"]
	path = abscab-python
	url = git@github.com:jonathanschilling/abscab-python.git
[submodule "abscab-c"]
	path = abscab-c
	url = git@github.com:jonathanschilling/abscab-c.git
[submodule "abscab-fortran"]
	path = abscab-fortran
	url = git@github.com:jonathanschilling/abscab-fortran.git
[submodule "abscab-cpp"]
	path = abscab-cpp
	url = git@github.com:jonathanschilling/abscab-cpp.git
