# LaTeX debris
*.aux
*.bbl
*.log
*.spl
*.synctex.gz
*.blg
*.out
*eps-converted-to.pdf

elsarticle*

# ignore screenshot from other article (placeholder for now)
wire_segment_Hanson_Hirshman_2002_Fig_1.png

# editor leftovers
*.kate-swp

# Java objects
/target/

# demo outputs
/data/*

# sphinx output
/docs/build/*
