# LaTeX debris
*.aux
*.bbl
*.log
*.spl
*.synctex.gz
*.blg
*.out
*eps-converted-to.pdf

elsarticle*

# ignore screenshot from other article (placeholder for now)
wire_segment_Hanson_Hirshman_2002_Fig_1.png

# editor leftovers
*.kate-swp

# Java objects
/target/

# demo outputs
/data/*

# sphinx output
/docs/build/*

**/*__pycache__
**/.ipynb_checkpoints/*

# local snapshots
article/schilling2022_abscab_main_commentsHT.pdf
article/2022_08_15_Schilling_ABSCAB_article.pdf
article/2022_08_24_Schilling_ABSCAB_article.pdf

# commented PDFs from co-authors
article/2022_08_15_Schilling_ABSCAB_commentsJG.pdf

submission_source/
ABSCAB_submission_source.zip
submission/
reviews/

bazel-*
